/node_modules
/vendor
/.env
/.env.backup
/.phpunit.result.cache
/phpunit.xml
/vite.config.js
/vite.config.mjs
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/.babelrc
/.eslintrc
/.prettierrc
/package.json
/package-lock.json
/yarn.lock
*.log
*.bak
*.tmp
*.swp
Thumbs.db
.__MACOSX
